/* Img */
.img {
    width: 30vw;
}

/* Page */
.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

/* LeftSide */
.left-side {
    width: 50vw;
    height: 100vh;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* RightSide */
.right-side {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 12.5vw;
    box-sizing: border-box;
}

/* Title */
.title {
    color: #333;
    font-family: Roboto, Arial;
    font-size: 40px;
    margin: 12px;
    margin-left: 0;
}

/* Subtitle */
.subtitle {
    color: #999;
    font-family: Roboto, Arial;
    font-size: 16px;
    font-weight: 300;
    margin: 8px;
    margin-left: 0;
    margin-right: 16px;
}

.subtitle a {
    color: #7f56da;
    font-weight: bold;
}

.subtitle a:hover {
    color: #613db7;
    cursor: pointer;
}

/* FieldName */
.field-name {
    color: #777;
    font-family: Roboto, Arial;
    font-size: 16px;
    font-weight: normal;
    /* Assuming this was meant to be normal */
    margin: 8px;
    margin-left: 0;
}

/* InputField */
.input-field {
    width: 25vw;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #999;
    padding-left: 8px;
    font-size: 16px;
    color: #777;
    box-sizing: border-box;
}

.input-field:focus {
    border: 1px solid #999;
    outline: none;
}

.input-field::placeholder {
    color: #bbb;
}

/* SignIn */
.sign-in {
    width: 25vw;
    height: 40px;
    border-radius: 8px;
    background: #7f56da;
    color: white;
    font-size: 16px;
    border: 0;
    font-weight: 400;
    margin: 16px 0;
}

.sign-in:hover {
    background: #613db7;
    cursor: pointer;
}

/* Checkbox */
.checkbox {
    border: 1px solid #333;
    margin-right: 8px;
    height: 16px;
    width: 16px;
}

/* KeepSigned */
.keep-signed {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
}